/* About.css */

.about {
    background-color: #f8f8f8;
    margin: auto;
    padding: 3rem 1rem 0 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .container {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
}

.about h2 {
    font-size: 2rem;
    text-align: center;
    justify-items: center;
    font-family: 'Pointless', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.about .col-1 {
    width: 100%;
}

.about p {
    text-align: center;
    line-height: 1.4em;
    font-family: 'TheBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    padding: 4%;
}

/* Images styling with adjusted padding */
.image-container {
    display: grid;
    align-items: center;
    grid-gap: 1rem;
    padding-bottom: 6%; /* Adjust the value as needed */
}



.image-row {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}


.square {
    position: relative;
}

.square img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C0028;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: opacity 0.3s ease-in-out;
}

.square:hover .overlay {
    opacity: 0.9;
}

.overlay-title {
    font-size: 1.5rem;
}

.logo-above-button,
.logo-above-button2 {
    max-width: 10em; /* Adjust the max-width as needed */
    margin: 0 auto 12px; /* Add margin to separate the logo from the button */
    margin-top: 2em;
    display: block; /* Center the logo horizontally */
    background-color: white;
}
