/* About.css */
.about {
    background-color: #f8f8f8;
    margin: auto;
    padding: 8rem 1rem 0 1rem;
    width: 100%;
}

.about .container {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
}

.about h2 {
    font-size: 3rem;
    justify-items: left;
    font-family: 'Pointless', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.about .col-1 {
    width: 100%;
}

.about p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 5%;
}

/* Images styling with adjusted padding */
.image-container {
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 5%; /* Adjust the value as needed */
}

.image-row {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.square {
    position: relative;
}

.square img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C0028;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: opacity 0.3s ease-in-out;
}

.square:hover .overlay {
    opacity: 0.9;
}

.overlay-title {
    font-size: 1.5rem;
}
