/* General styles */
body {
    margin: 0;
    font-size: 16px;
}

/* Base styling */
.divbar {
    background: url('./images/banner.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 25vh;
    justify-content: center;
}

.divbar .content {
    color: #fff; /* Set text color to be visible on the background */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .divbar {
        height: 10vh; /* Fill the viewport height */
    }

    .divbar .content {
        font-size: 14px; /* Adjust text size for smaller screens */
    }

    .divbar img {
        object-fit: contain; /* Prevent cropping */
    }
}

