/* General styles */
body {
  margin: 0;
  font-size: 16px;
}

/* Base styling */
.wrapper {
  min-width: 320px; /* Set a minimum width for small screens */
  margin: 0 auto;
  background-color: #1C0028;
}

.faq {
  width: 100%;
  max-width: 960px; /* Use max-width to limit the container size */
  margin: auto;
  padding: 2rem 1rem; /* Adjust padding for responsiveness */
  
}

.wrapper h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
  color: white;
  font-family: 'Pointless', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.faq-item {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.faq-item:hover {
  background-color: #6E88FF;
}

.faq-item:hover .question {
  color: #1C0028;
}

.question {
  font-weight: bold;
  font-size: larger;
  font-family: 'TheBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #6E88FF;
}

.answer {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 2px solid #333;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add these styles for the arrow */
.faq-item .question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-item .arrow {
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .faq {
      padding: 1rem; /* Adjust padding for responsiveness */
  }

  .faq-item {
      padding: 15px;
  }
}



  
  











