/* index.css */

:root {
  --primary-color: #D500FF;
  --primary-dark: #EA82FF;
  --secondary-color: #FF008C;
  --secondary-dark: #FF70BF;
  --overlay: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Pointless";
  src: local("Pointless"),
    url("./Fonts/Pointless/Pointless.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'TheBold';
  src: local('TheBold'), url('./Fonts/TheBold/TheBold.ttf') format('truetype');
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}
