.header {
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    background-color: #1C0028;

}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu a {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif

}

.header .navbar img {
    width: 10em;
    height: auto;
    padding-left: 10%
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.hamburger {
    display: none;
}


@media screen and (max-width:798px) {
    .header {
        max-width: 100%;
        min-height: 1em;
        background-color: #1C0028;
    }

    .header .navbar {
        max-width: 100%;
        min-height: auto;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        padding: 10%;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: #1C0028;
        max-width: 100%;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
        min-width: 100%;
    }

    .nav-item {
        max-width: 100%; /* Control content width */
        padding: 1rem; /* Adjust padding */
    }
  


    .header .navbar img {
        width: 10em;
    }

}
.nav-item .witcon23-button {
    background-color: #6E88FF; /* Pink color */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

    .nav-item .witcon23-button:hover {
    background-color: #879FFF; /* Darker pink color on hover */
}















